<div class="form">
  <h1 class="form__title">Sign In</h1>
  <form [formGroup]="signInForm" (ngSubmit)="signIn()">
    <div class="input-group">
      <input
        class="input-group__input"
        type="email"
        name="email"
        id="email"
        placeholder=" "
        formControlName="email"
        [class.invalid]="emailControl?.invalid && (emailControl?.dirty || emailControl?.touched)"
      />
      <label class="input-group__text" for="email">Email</label>
      <ng-container
        *ngIf="emailControl?.invalid && (emailControl?.dirty || emailControl?.touched)"
      >
        <small class="text-danger" *ngIf="emailControl?.hasError('required')"
          >Email is required.</small
        >

        <small class="text-danger" *ngIf="emailControl?.hasError('email')"
          >Please enter a valid email.</small
        >
      </ng-container>
    </div>
    <div class="input-group">
      <input
        class="input-group__input"
        type="password"
        name="password"
        id="password"
        placeholder=" "
        formControlName="password"
        [class.invalid]="passwordControl?.invalid && (passwordControl?.dirty || passwordControl?.touched)"
      />
      <label class="input-group__text" for="password">Password </label>
      <ng-container
        *ngIf="passwordControl?.invalid && (passwordControl?.dirty || passwordControl?.touched)"
        class="alert"
      >
        <small class="text-danger" *ngIf="passwordControl?.hasError('required')"
          >Password is required.</small
        >
      </ng-container>
    </div>
    <div class="padding-y">
      <button
        class="btn btn__default btn--full"
        type="submit"
        [disabled]="signInForm.invalid"
      >
        Sign in
      </button>
    </div>
    <div class="padding-y">
      <span
        >Not an user?
        <a class="form__link" [routerLink]="['/register']"
          >Create account</a
        ></span
      >
    </div>
  </form>
</div>
