<header class="header__container">
  <div class="logo">
    <a [routerLink]="['/']" class="logo__title">MovieApp</a>
  </div>
  <div class="search">
    <fa-icon class="search__icon" [icon]="faSearch"></fa-icon>
    <input
      #search
      class="search__input"
      type="text"
      placeholder="Search movie by title"
      #input
    />
  </div>

  <div class="sign">
    <a
      *ngIf="isLoggedIn"
      [routerLink]="['/watchlist']"
      class="btn btn__primary"
    >
      <fa-icon [icon]="faBookmark"></fa-icon>
      <span class="hide-sm"> My watchlist</span></a
    >
    <a *ngIf="!isLoggedIn" [routerLink]="['/login']" class="btn btn__primary">
      <fa-icon [icon]="faSignInAlt"></fa-icon>
      <span class="hide-sm">Login</span>
    </a>

    <button *ngIf="isLoggedIn" class="btn btn__primary" (click)="logout()">
      <fa-icon [icon]="faSignOutAlt"></fa-icon
      ><span class="hide-sm">Logout</span>
    </button>
  </div>
</header>
