<app-container>
  <app-grid *ngIf="movies">
    <app-card
      *ngFor="let movie of movies | paginate
    : {
        itemsPerPage: moviesPerPage,
        currentPage: page,
        totalItems: totalMovies
      }"
    >
      <a routerLink="/movie/{{movie.id}}">
        <app-card-image
          [src]="getPosterMovie(movie.poster_path)"
          [alt]="movie.title"
        ></app-card-image>
      </a>
      <app-card-info>{{movie.vote_average | number: '1.1-1'}}</app-card-info>
    </app-card>
  </app-grid>
  <pagination-controls
    class="pagination"
    (pageChange)="getMoviePerPage(page = $event)"
  ></pagination-controls>
</app-container>
