<app-container *ngIf="movies$ | async as movies">
  <h1>My Watchlist</h1>
  <app-grid *ngIf="movies.length > 0">
    <app-card *ngFor="let movie of movies">
      <a routerLink="/movie/{{movie.id}}">
        <app-card-image
          class="card__img"
          [src]="getPosterMovie(movie.poster_path)"
          alt=""
          srcset=""
        ></app-card-image>
      </a>
    </app-card>
  </app-grid>
  <div *ngIf="movies.length === 0" class="list-empty">
    <img src="https://img.icons8.com/bubbles/100/000000/clips-apperance.png" />
    <h3>No Movie listed yet</h3>
    <p>Add movie to your watch list</p>
  </div>
</app-container>
