/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

:root {
  --white: #fff;
  --black: #000;
  --gray: #a6a6a6;
  --gray-300: #808080;
  --green: #1d9704;
  --green-300: #0f5c00;
  --red: #ff0000;
  --yellow: #ffc107;
  --yellow-300: #c49300;
}

html {
  font-family: 'Roboto', sans-serif;
  @media screen and (max-width: 600px) {
    font-size: 62.5%;
  }
}

.svg-inline--fa {
  padding: 0px 4px;
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
}

.btn {
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px 5px;
  border: none;

  &__primary {
    color: var(--yellow);
    background-color: transparent;
    border-color: var(--yellow);

    border: 2px solid;
    &:hover {
      color: var(--yellow-300);
      border-color: var(--yellow-300);
    }
  }

  &__default {
    color: var(--white);
    background-color: var(--gray);
    &:hover {
      background-color: var(--gray-300);
    }
  }

  &__success {
    color: var(--white);
    background-color: var(--green);
    &:hover {
      background-color: var(--green-300);
    }
  }

  &--full {
    width: 100%;
  }
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 450px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: var(--black);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: var(--white);

  &__title {
    margin: 0 0 30px;
    padding: 0;

    text-align: center;
  }
  &__divider {
    padding: 20px 0;
  }

  &__link {
    font-weight: 500;
    text-decoration: none;
    color: var(--yellow);
  }
}

.form-control {
  position: relative;
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--white);
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid var(--white);
    outline: none;
    background: transparent;

    &:focus ~ label,
    &.ng-valid ~ label,
    &:not(:placeholder-shown) ~ label {
      top: -20px;
      left: 0;
      color: var(--yellow);
      font-size: 12px;
    }
    &:-webkit-autofill {
      -webkit-text-fill-color: var(--white) !important;
      box-shadow: 0 0 0px 1000px var(--black) inset;
      transition: background-color 5000s ease-in-out 0s;
    }
    &.error {
      border-color: var(--red);
    }
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--white);
    pointer-events: none;
    transition: 0.5s;
  }

  .invalid {
    border-bottom-color: var(--red);
  }
}

.text-danger {
  color: var(--red);
}

.hide-sm {
  @media screen and (max-width: 798px) {
    display: none;
  }
}
